<div class="row text-white">
  <!-- <div class="col-lg-9 col-md-8">Timer</div> -->
  <div class="col-lg-3 offset-lg-9 col-md-4 offset-md-8">
    <div class="row mb-lg-1">
      <div class="col text-center">
        <img *ngIf="!game.usedLifelines.includes(lifeline.FiftyFifty)"
             src="/assets/images/5050.png" [ngClass]="{'lifeline': true, 'lifeline-active': game.active}"
             (click)="game.active && fiftyFifty()" alt="Pół na pół"/>
        <img *ngIf="game.usedLifelines.includes(lifeline.FiftyFifty)"
             src="/assets/images/5050used.png" class="lifeline lifeline-used" alt="Pół na pół"/>
      </div>
      <div class="col text-center">
        <img *ngIf="!game.usedLifelines.includes(lifeline.PhoneAFriend)"
             src="/assets/images/PAF.png" [ngClass]="{'lifeline': true, 'lifeline-active': game.active}"
             (click)="game.active && phoneAFriend()" alt="Telefon do przyjaciela"/>
        <img *ngIf="game.usedLifelines.includes(lifeline.PhoneAFriend)"
             src="/assets/images/PAFused.png" class="lifeline lifeline-used" alt="Telefon do przyjaciela"/>
      </div>
      <div class="col text-center">
        <img *ngIf="!game.usedLifelines.includes(lifeline.AskTheAudience)"
             src="/assets/images/ATA.png" [ngClass]="{'lifeline': true, 'lifeline-active': game.active}"
             (click)="game.active && askTheAudience()" alt="Pytanie do publiczności"/>
        <img *ngIf="game.usedLifelines.includes(lifeline.AskTheAudience)"
             src="/assets/images/ATAused.png" class="lifeline lifeline-used" alt="Pytanie do publiczności"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-9 col-md-8">
    <div class="d-flex flex-column justify-content-end h-100">
      <div *ngIf="!game.active" class="row">
        <div class="col-sm-12 text-center">
          <div *ngIf="!showError" class="end-info mt-3 text-white">
            <span *ngIf="game.level === 0">
              Niestety nie udało Ci się nic wygrać.
            </span>
            <span *ngIf="game.level > 0">
              Wygrałeś {{(levels$ | async)?.find(levelMatcher).award}}. Gratulacje!
            </span>
          </div>
          <div *ngIf="showError" class="end-info mt-3">
            <pil-alert-closeable type="danger"
                                 message="Wystąpił nieoczekiwany błąd.">
            </pil-alert-closeable>
          </div>
          <div class="mb-2 mt-2">
            <button (click)="onNewGameRequest()"
                    class="btn btn-primary btn-lg">
              Zagraj od nowa
            </button>
          </div>
        </div>
      </div>
      <pil-question [question]="game.lastQuestion" [active]="game.active"
                    [correctAnswer]="game.correctAnswer"
                    (answerSelected)="checkAnswer($event)">
      </pil-question>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 d-flex text-white">
    <div class="w-100 d-flex flex-column justify-content-end">
      <div>
        <div class="level-box"
             id="level-box{{lev.id}}"
             *ngFor="let lev of levels$ | async | reverse:1"
             [ngClass]="{
                'd-none': lev.id === 0,
                'bg-warning': lev.id === game.level + 1 && game.active,
                'bg-success': lev.id <= game.level,
                'top-rounded': !game.active ? lev.id === game.level : lev.id === game.level + 1
             }"
             [ngStyle]="{'font-weight': lev.guaranteed ? 'bold' : 'normal'}">
          {{lev.award}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center mt-1 mb-1">
          <button class="btn btn-primary btn-lg"
                  [disabled]="!game.active"
                  (click)="onResign()">
            Rezygnuj
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<pil-spinner *ngIf="waiting"></pil-spinner>
<pil-phone-a-friend *ngIf="phoneAFriendVisible"
                    (popupClosed)="phoneAFriendVisible = false"
                    (errorEmitter)="onError($event)">
</pil-phone-a-friend>
<pil-ask-the-audience *ngIf="askTheAudienceVisible"
                      (popupClosed)="askTheAudienceVisible = false"
                      (errorEmitter)="onError($event)">
</pil-ask-the-audience>
